@using Cheapdrinks.Web.Extensions.Controllers
@using Cheapdrinks.Web.Extensions.ViewModels

@inherits UmbracoViewPage<Cheapdrinks.Web.Extensions.ViewModels.ForgotPasswordRenderViewModel>

<section class="no-header" id="forgot">
    <div class="container">

        <div class="row">
            <div class="col-sm-2 col-sm-offset-5 text">
                <img src="~/images/fft.jpg" alt="WED 2017">
            </div>
            <div class="col-sm-8 col-sm-offset-2 text">                
                <div class="header"><h1><b>@Model.Content.GetPropertyValue("welcomeText", true)</b></h1></div>
            </div>
        </div>

        <div class="row">
            @using (Html.BeginUmbracoForm<AuthenticationSurfaceController>("ForgottenPassword"))
            {
                var forgotPasswordViewModelEnglish = new ForgotPasswordViewModel();
                @Html.AntiForgeryToken()
                <div class="col-sm-5">
                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>@Model.Content.GetPropertyValue("headerText")</h3>
                            </div>
                            <div class="form-top-left">
                                <h5><i>@Model.Content.GetPropertyValue("instruction")</i></h5>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="form-bottom">                            
                            <h4>@Html.ValidationSummary("forgotPassworden", true)</h4>                            
                            <div class="form-group">
                                <label class="sr-only" for="form-emailaddress">@Model.Content.GetPropertyValue("emailAddressText")</label>
                                @Html.TextBoxFor(m => forgotPasswordViewModelEnglish.EmailAddress,
                         htmlAttributes: new
                         {
                             id = "form-emailaddress",
                             @class = "form-emailaddress form-control",
                             placeholder = @Model.Content.GetPropertyValue("emailAddressText")
                         })
                                @Html.ValidationMessageFor(m => forgotPasswordViewModelEnglish.EmailAddress)
                            </div>
                            <button name="culture" type="submit" value="en-GB" class="btn">@Model.Content.GetPropertyValue("submitButtonText")</button>
                            <p class="forgot"><a href=@this.Umbraco.NiceUrl(this.Umbraco.TypedContentAtRoot().First().Id)>@Model.Content.GetPropertyValue("returnUrlText")</a></p>
                        </div>
                    </div>
                </div>
            }

            <div class="col-sm-1 middle-border"></div>
            <div class="col-sm-1"></div>
            @using (Html.BeginUmbracoForm<AuthenticationSurfaceController>("ForgottenPassword"))
            {
                var forgotPasswordViewModelWelsh = new ForgotPasswordViewModel();
                @Html.AntiForgeryToken()
                <div class="col-sm-5">
                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>@Model.Content.GetPropertyValue("headerText")</h3>
                            </div>
                            <div class="form-top-left">
                                <h5><i>@Model.Content.GetPropertyValue("instruction")</i></h5>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <div class="form-group">                                
                                <h4>@Html.ValidationSummary("forgotPasswordcy", true)</h4>                                
                                <label class="sr-only" for="form-username">@Model.Content.GetPropertyValue("emailAddressText")</label>
                                @Html.TextBoxFor(m => forgotPasswordViewModelWelsh.EmailAddress,
                         htmlAttributes: new
                         {
                             id = "form-emailaddress",
                             @class = "form-emailaddress form-control",
                             placeholder = @Model.Content.GetPropertyValue("emailAddressText")
                         })
                                @Html.ValidationMessageFor(m => forgotPasswordViewModelWelsh.EmailAddress)
                            </div>
                            <button name="culture" type="submit" value="cy-GB" class="btn">@Model.Content.GetPropertyValue("submitButtonText")</button>
                            <p class="forgot"><a href=@this.Umbraco.NiceUrl(this.Umbraco.TypedContentAtRoot().First().Id)>@Model.Content.GetPropertyValue("returnUrlText")</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>

        <br />

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p class="bg-info text-center"><b>@Model.Content.GetPropertyValue("footerText") / @Model.Content.GetPropertyValue("footerText")</b></p>
            </div>
        </div>
    </div>
    <!-- / END CONTAINER -->
</section>